.input-group {
  width: 100px;
  margin: 0 auto;
}
.input-group .btn {
  border-radius: 0;
}

.top-group {
  margin-top: 70px;
}

.bottom-group {
  margin-top: -1px;
}

/*[data-type="minus"] {
  border: 1px solid #ccc;
  border-right: none;
}*/
[data-type="save"] {
  min-width: 70px;
}

.input-number {
  min-width: 70px;
  text-align: center;
  text-shadow: none;
}
